{:paths ["src" "resources"]
 :deps  {org.clojure/clojure          {:mvn/version "1.10.3"}
         io.replikativ/wanderung-core {:mvn/version "0.1.0-SNAPSHOT"}
         io.replikativ/datahike       {:mvn/version "0.3.7-SNAPSHOT"}
         datascript                   {:mvn/version "1.2.8"}}
 :aliases
 {:build {:extra-deps {seancorfield/depstar {:mvn/version "1.1.136"}}
          :main-opts  ["-m" "hf.depstar.jar" "wanderung-datascript.jar"]}

  :install {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn    deps-deploy.deps-deploy/deploy
            :exec-args  {:installer :local
                         :artifact  "wanderung-datascript.jar"}}
  :test    {:extra-paths ["test"]
            :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {io.github.cognitect-labs/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "2d69f33d7980c3353b246c28f72ffeafbd9f2fab"}}
   :exec-fn    cognitect.test-runner.api/test}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
            :exec-fn      hf.depstar/uberjar
            :exec-args    {:aot        true
                           :jar        "datascript.jar"
                           :main-class "wanderung.datascript"
                           :sync-pom   true}}}}
